.notes-header {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 1rem;

  &__actions {
    display: flex;
    gap: 8px;
  }

  &__btn {
    padding: 10px;

    background-color: #3e3e3e;
    border-radius: 100%;

    font-size: inherit;
    line-height: 0;

    &--update {
      &:not(:disabled) {
        &:hover,
        &:focus-visible
        {
          background-color: #adff2f;
          color: #3e3e3e;
        }
      }
    }

    &--delete-all {
      &:not(:disabled) {
        &:hover,
        &:focus-visible
        {
          background-color: #ff2f2f;
          color: #242424;
        }
      }
    }

    &:not(:disabled) {
      &:hover,
      &:focus-visible
      {
        transform: rotate(360deg);
        outline: transparent;
      }
    }
  }
}
