:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  transition: 0.25s;
  background-color: transparent;
  border: none;
}

.btn {

  padding: 0.6em 1.2em;

  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;

  font-family: inherit;
  font-size: 1em;
  font-weight: 500;

  &:not(:disabled):hover {
    border-color: #646cff;
    border-radius: 8px 2px;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
