.notes-form-container {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 1;

  padding: 12px 12px 24px;

  width: 100%;

  background-color: #242424;
}

.notes-form {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;

  &__group {
    flex: 1;

    &--relative {
      position: relative;
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: 6px;
    
    font-size: 0.8rem;
    font-style: italic;
    color: #555555;
  }

  &__textarea {
    display: block;

    padding: 12px;

    width: 100%;
    max-height: 190px;
    min-height: 56px;

    border: 1px solid #636262;
    border-radius: 8px;

    resize: vertical;
  }

  &__custom-placeholder {
    position: absolute;
    top: calc(17px + 29px); /* смещение с учётом label */
    left: 12px;
    right: 12px;

    opacity: 0;
    overflow: hidden;
    transform: translateY(-50%);
    animation: fadeInOut 3s ease-in-out infinite;
    pointer-events: none;
    user-select: none;
    z-index: 1;

    font-size: 0.9rem;
    color: #646363;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__button {
    padding: 8px;
    border-radius: 100%;
    line-height: 0;
    
    svg {
      width: 20px;
      height: 20px;
    }

    &:not(:disabled):hover {
      background-color: #646cff;
    }
  }
}
