.note {
  position: relative;
  transition: 0.3s;
  height: 100%;

  &__content {
    padding: 24px 16px 16px;
    height: 100%;
    background-color: #3e3e3e;
    border-radius: 8px;
  }

  &__actions {
    position: absolute;
    top: -15px;
    right: 8px;
    display: flex;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;

    border-radius: 50%;
    background-color: #242424;

    color: gray;

    &:not(:disabled):hover {
      transform: rotate(360deg);
    }

    &:not(:disabled):hover,
    &:not(:disabled):focus-visible
    {
      &.note__btn--delete {
        color: #ff0000;
      }
    }
  }

  &:hover {
    transform: translateY(-4px);
  }
}
